In [1]:
import pandas as pd

## Series

In [2]:
data = [1,2,3,4,5]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
index = ['Linha' + str(i) for i in range(5)]

In [6]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [7]:
s = pd.Series(data = data, index = index)

In [8]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [9]:
data = {'Linha' + str(i): i + 1 for i in range(5)}

In [10]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [11]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

## Dataframe

In [12]:
data = [[1,2,3], 
        [4,5,6], 
        [7,8,9]]

In [13]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
df1 = pd.DataFrame(data = data)

In [15]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [17]:
index = ['Linha' + str(i) for i in range(3)]

In [18]:
index

['Linha0', 'Linha1', 'Linha2']

In [19]:
df1 = pd.DataFrame(data = data, index = index)

In [20]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [21]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [22]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)

In [23]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9